body {
    font-family: sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: #fff;
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 8px;
}

.summary {
    background-color: #ffffff;
    max-width: 500px;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
    background-color: #5db0e8; 
    color: #fff;               
    border: none;
    padding: 10px 20px;
    border-radius: 8px;        
    font-size: 16px;

}

button:hover {
    background-color: #1789d6; 
}

a {
    background-color: #5db0e8; 
    color: #fff;               
    border: none;
    padding: 10px 20px;
    border-radius: 8px;        
    font-size: 16px;

}
